.button {
  background: #1970e3;
  color: #fff;
  padding: 9px 15px;
  font-family: Roboto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #1660c2;
}

.button__round {
  border-radius: 50%;
  padding: 13px;
}

.button__sm {
  padding: 6px 10px;
}

.button__md {
  padding: 9px 15px;
}

.button__lg {
  padding: 12px 19px;
}
