.button {
  background: #02ab6b;
  color: #fff;
  padding: 18px 20px;
  font-family: Roboto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  flex-grow: 1;
}

.button:hover {
  background: #009d66;
}

.button__round {
  border-radius: 50%;
  padding: 13px;
}

.button__sm {
  padding: 6px 10px;
}

.button__md {
  padding: 9px 15px;
  font-size: 17px;
}

.button__lg {
  padding: 11px 19px;
  font-size: 20px;
}

.button__xl {
  padding: 13px 24px;
  font-size: 20px;
}

.icon {
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.secondary {
  background: #009d66a8;
}

.capitalize {
  text-transform: capitalize;
}
