.card {
  width: 32.5%;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.15s;
}

.card:hover {
  transform: translateY(-5px);
}

.card__img {
  object-fit: cover;
  width: 100%;
  max-height: 80px;
  cursor: pointer;
  margin-top: 20px;
}

.card__footer {
  padding: 20px 20%;
  background: #f4f4f4;
  text-align: center;
}

.card__title {
  margin-bottom: 15px;
  color: #000000;
  text-align: center;
}

.card__subtitle {
  color: rgb(138, 138, 138);
  font-weight: lighter;
  margin-bottom: 15px;
}
.createdAt {
  padding-bottom: 20px;
  color: #8a8a8a;
}

@media (max-width: 1000px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}
