.card {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  -webkit-box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  -moz-box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  box-shadow: 0px 1px 9px -2px rgba(99, 99, 99, 0.406);
  width: 48%;
  box-sizing: border-box;
}

.card__info {
  margin-right: 10%;
}

.card__title,
.card__text {
  color: #fff;
}

.card__img {
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.card__text {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
