.title__container {
  padding: 25px 0;
  background: rgba(240, 240, 240, 0.632);
}

.title {
  text-align: center;
  font-weight: 300;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.sort__container {
  display: flex;
  align-items: center;
}

.sort__container span {
  margin-right: 15px;
}

.select {
  width: 250px;
}

.filter__container {
  width: 27%;
  margin-right: 3.5%;
  margin-top: 20px;
}

.filter__body {
  padding: 25px;
  box-shadow: -2px 2px 5px 2px #6a6a6a3f;
  border-radius: 10px;
}

.filter__title {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 2px;
  background: #02ab6b;
  margin-bottom: 20px;
  box-shadow: -2px 2px 5px 2px #02ab6a3f;
  color: #ededed;
}

.main__content {
  width: 69.5%;
}

.actions__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change__view__container {
  padding: 20px 5px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.pagination__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 20px;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.pagination__container li {
  cursor: pointer;
}

.pagination__container a:focus {
  outline: none;
}

.pagination__active__link {
  border: 1px solid #02ab6b;
  border-radius: 5px;
}

.pagination__link {
  height: 30px;

  width: 30px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
}

.pagination__link a:focus,
.pagination__active__link:focus {
  outline: none;
}

.carousel__container {
  overflow: hidden;
  width: 100%;
}

.empty__result__msg {
  padding: 50px 0;
  text-align: center;
}

.product__card {
  width: 47%;
}

@media (max-width: 550px) {
  .product__card {
    height: initial;
    width: 100%;
  }
  .filter__container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .container {
    flex-direction: column;
  }
  .main__content {
    width: 100%;
  }
  .change__view__container {
    display: none;
  }
  .actions__container {
    margin: 20px 0;
  }
  .sort__container {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
