.title__container {
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-image: url("../../assets/banner.png");
  background-position-y: -10vh;
  background-size: cover;
  object-fit: cover;
  transition: 0.4s;
}

.title {
  text-align: center;
  font-weight: 300;
  padding: 0 0 10px 0;
}
.bread__crumbs {
  width: 1rem;
  fill: #acacac;
  vertical-align: -0.1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.sort__container {
  display: flex;
  align-items: center;
}

.sort__container span {
  margin-right: 15px;
}

.select {
  width: 250px;
}

.filter__container {
  display: flex;
  margin-top: 20px;
}

.filter__list {
  flex-basis: 30%;
}

.filter__category {
  padding: 20px 15px 0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  transition: 0.2s;
  font-weight: lighter;
  border-bottom: 1px solid #00000000;
}

.filter__category:hover {
  transform: translateX(3px);
}

.filter__body {
  padding: 25px;
  box-shadow: -2px 2px 5px 2px #6a6a6a1b;
  border-radius: 10px;
}

.filter__title__container {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  background: #2bbd86;
  justify-content: space-between;
  box-shadow: -2px 2px 5px 2px #02ab6a3f;
  align-items: center;
}

.filter__title {
  letter-spacing: 2px;
  color: #ededed;
}

.filter__caret {
  width: 20px;
  height: 20px;
  color: #fff
}

.filter__caret__active {
  transform: rotate(180deg);
}

.main__content {
  width: 100%
}

.actions__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change__view__container {
  padding: 20px 1px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.pagination__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 20px;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.pagination__container li {
  cursor: pointer;
}

.pagination__container a:focus {
  outline: none;
}

.pagination__active__link {
  border: 1px solid #2bbd86;
  border-radius: 5px;
}

.pagination__link {
  height: 30px;

  width: 30px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
}

.pagination__link a:focus,
.pagination__active__link:focus {
  outline: none;
}

.carousel__container {
  overflow: hidden;
  /*width: 80vw;*/
  margin: 0 auto;
}

.empty__result__msg {
  padding: 50px 0;
  text-align: center;
}

.product__card__container {
  box-sizing: border-box;
  width: 25%;
  padding: 10px;

}

.product__card__container .product__card {
  margin: 0;
  width: 100%;
}


.filter__categories {
  transition: 0.3s;
  max-height: 1000px;
  margin-top: 20px;
}

.filter__categories > div:last-child {
  margin-bottom: 0;
}

.filter__exiting {
  opacity: 0;
  transform: translateY(-50px);
  max-height: 0;
  margin-top: 0;
}
.filter__exited {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  max-height: 0;
  margin-top: 0;
}

.filter__entering {
  opacity: 1;
}
.filter__entered {
  opacity: 1;
  visibility: initial;
}

.view__icon {
  width: 1.5rem;
}

.view__button {
  display: flex;
  align-items: center;
}

.categories__container {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
}

@media(max-width: 900px) {
  .filter__list {
    display: none;
  }
  .categories__container {
    flex-basis: 100%;
  }
}

@media(min-width: 1100px) and (max-width: 1400px) {
  .product__card__container {
    height: initial;
    width: 33.3333%;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .product__card__container {
    height: initial;
    width: 49%;
  }
}

@media (max-width: 600px) {
  .product__card__container {
    height: initial;
    width: 100%;
  }
  .title__container {
    background-position-y: 0;
    padding: 25px 0;
  }
  .container {
    flex-direction: column;
  }
  .main__content {
    width: 100%;
  }
  .change__view__container {
    display: none;
  }
  .actions__container {
    margin: 20px 0;
  }
  .sort__container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: initial;
  }
  .sort__container span {
    margin-bottom: 5px;
  }
}

