.tabs__container {
}

.tabs__title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Roboto;
}

.tab {
  list-style: none;
  padding: 8px 25px;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.tab__active {
  background: #076cec;
  color: #fff;
}

.tab__panel {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}

.tab__panel::after {
  content: "";
  flex: auto;
}

.advantages {
}

.advantages__title {
  text-align: center;
}
