.section {
  margin-top: 85px;
}

.section h3 {
  text-align: center;
  font-size: 2rem;
  background: rgba(240, 240, 240, 0.632);
  font-weight: 300;
  padding: 20px 0;
}

.tabs__title {
  text-align: center;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Roboto;
  margin: 20px 0 40px 0;
}

.tab {
  list-style: none;
  padding: 8px 25px;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.tab__active {
  background: #02ab6b;
  color: #fff;
}

.tab__panel {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}

/* .tab__panel::after {
  content: "";
  flex: auto;
} */

.advantages__title {
  text-align: center;
  margin-bottom: 20px;
}

.advantages__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

.news__container {
  display: flex;
  max-width: 1370px;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px 100px 50px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .news__container {
    padding: 0 0 100px 0;
  }
}

@media (max-width: 600px) {
  .news__container {
    width: initial;
    padding: 0;
  }
  .section {
    margin-top: 55px;
  }
}
/* .news__container::after { content: ""; flex: auto; } */
.section__title {
  margin-bottom: 20px;
  color: black;
}
