.header {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contact button {
  font-size: 16px;
}

.ph_number,
.mail,
.location {
  border: none;
  margin: 20px;
}
.header_icon {
  color: #076cec;
}
.header_icon:hover {
  color: aqua;
}

.menu_main_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.menu_main_wrapper button {
  font-size: 18px;
  border: none;
}

.menu_main_wrapper button:hover {
  color: aqua;
}

.site_nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.small_menu_item {
  display: flex;
  align-items: center;
}
.small_menu_item button:hover {
  color: aqua;
}
.small_menu_button button {
  color: #076cec;
}
