/* .header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contact button {
  font-size: 16px;
}

.header__info__tag {
  border: none;
  margin-left: 20px;
}

.header_icon {
  color: #1970e3;
  transition: 0.2s;
  margin-right: 13px;
}

.navbar__icon {
  color: #1970e3;
  transition: 0.2s;
}

.header_icon:hover {
  color: aqua;
}

.menu_main_wrapper {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.menu_main_wrapper button {
  font-size: 18px;
  border: none;
  transition: 0.2s;
  color: #404040;
  font-family: Roboto;
  font-weight: 300;
  margin-right: 15px;
}

.menu_main_wrapper button:hover {
  color: #1970e3;
}

.site_nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.small_menu_item {
  display: flex;
  align-items: center;
}
.small_menu_item button:hover {
  color: #1970e3;
}
.small_menu_button button {
  color: #1970e3;
}
