.show {
  display: block;
}

.hide {
  display: none;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
} */
.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500;
  position: fixed;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px;
}

/* .x {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
} */
.buttons {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
}
.plus {
  margin-right: 20px;
  padding: 10px;
  color: black;
  background: none;
}
.minus {
  margin-left: 20px;
  /* padding: 10px; */
}
